body {
	background: #1abc9c;
	font-family: Tahoma, Arial, sans-serif;
	color: #ffffff;
}
.article-author {
	width: 50%;
	float: left;
	font-size: 20px;
	font-style: italic;
}
.article-created-date {
	text-align: right;
	font-style: italic;
	padding: 5px;
	font-size: 20px;
}
p {
	font-size: 25px;
}
.header a {
	color: #ffffff;
	font-size: 30px;
	float: right;
	padding: 5px;
}
.archive .header img
{
	display:block;
	width:400px;
	margin-left:auto;
	margin-right:auto;
}
.article .header img {
	float: left;
	display:block;
	width:400px;
	margin-left:auto;
	margin-right:auto;
}
.post-title a{
	font-size: 35px;
	color: #ffffff;
}
.post-title{
	font-size: 35px;
}
.archive {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}